.container img{
    height: 175px;
    width: auto;
    padding: 10px;
    border-radius: 20px;
}

footer {
    text-align: center;
    font-size: 15px;
}

.summary {
    background-color: #036FD4;
    height: 600px;
}